
@using GridMvc.Html
@model Lucky.Core.PagedList<Lucky.Hr.ViewModels.Models.SiteManager.DistributorViewModel>
@{
    ViewBag.Title = "Index";
}

<header class="header bg-white b-b clearfix">
    <form class="talbe-search form-inline" method="post" action="@Url.Action("Index")">
        <div class="row m-t-sm">
            <div class="col-sm-8 m-b-xs">
                <div class="btn-group">
                    <button type="button" data-toggle="refresh" class="btn btn-sm btn-default" title="刷新">
                        <i class="fa fa-refresh"></i>
                    </button>
                    <button type="button" class="btn btn-sm btn-default" title="删除" data-toggle="batch" data-href="/vshop/Ajax/Post/DelGoods/0" disabled>
                        <i class="fa fa-trash-o"></i>
                    </button>
                </div>

                <a href="@Url.Action("Create")" class="btn btn-sm btn-default m-r"><i class="fa fa-plus m-r-xs"></i>新增分销商</a>

            </div>
            <div class="col-sm-4 m-b-xs">
                <div class="input-group">
                    <input type="text" class="input-sm form-control" value="@Request.QueryString["keyword"]" name="keyword" placeholder="商品名称/商品编号" data-rule-required="true" />
                    <span class="input-group-btn">
                        <button class="btn btn-sm btn-default" type="submit" title="搜索">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <input type="hidden" name="pageIndex" id="pageIndex" value="1" />
        <input type="hidden" name="orderBy" id="orderBy" value="desc" />
        <input type="hidden" name="order" id="order" value="PutAwayDate" />
    </form>
</header>

<section class="scrollable wrapper w-f">
    <section class="panel panel-default ">
        <div class="table-responsive">
            @Html.Grid(Model).Columns(columns =>
            {
                columns.Add(a => a.DistributorId).Titled("编号");
                columns.Add(a => a.DistributionName).Encoded(false).Sanitized(false).Titled("分销商");
                columns.Add(a => a.Email).Titled("邮子邮件");
                columns.Add(a => a.Fax).Titled("添加时间");
                columns.Add().Encoded(false).Sanitized(false).Titled("操作").RenderValueAs(a => @<b>
                                                                                                  @Html.ActionLink("查看 ", "Detail", new {appid = a.AppID, id = a.DistributorId})
                                                                                              </b>);
            })
           
        </div>
    </section>
</section>
@Html.Partial("_ListPager",Model)

@*<footer class="footer bg-white b-t">
    <div class="row text-center-xs">
        <div class="col-md-4 hidden-sm">
            <p class="text-muted m-t" style="color:#2a6496 !important;">共 @Model.TotalPages 页 @Model.TotalCount 条记录，当前为第 @Model.PageIndex 页</p>
        </div>
        <div class="col-md-8 col-sm-12 text-right text-center-xs">
            <ul class="pagination pagination-sm m-t-sm m-b-none" data-pages-total="@Model.TotalPages" data-page-current="@Model.PageIndex"></ul>
        </div>
    </div>
</footer>*@



