@model Lucky.ViewModels.Models.SiteManager.AspNetRolesViewModel

@{
    ViewBag.Title = "Details";
}

<header class="header bg-white b-b clearfix">

    <div class="row m-t-sm">
        <div class="col-sm-8 m-b-xs">
            <div class="btn-group">
                <button type="button" data-toggle="refresh" class="btn btn-sm btn-default" title="刷新">
                    <i class="fa fa-refresh"></i>
                </button>
                <button type="button" class="btn btn-sm btn-default" title="删除" data-msg-required="简介不能为空" data-toggle="batch" data-href="@Url.Action("Delete","AspNetRoles",new{ID=Model.Id})">
                    <i class="fa fa-trash-o m-r-xs"></i>删除
                </button>
            </div>
            <a href="@Url.Action("Create")" class="btn btn-sm btn-default m-r"><i class="fa fa-plus m-r-xs"></i>新增角色</a>
            <a href="@Url.Action("Edit", new {Id = Model.Id})" class="btn btn-sm btn-default m-r"><i class="fa fa-edit m-r-xs"></i>编辑角色</a>
            <a href="@Url.Action("RoleOperation", new { Id = Model.Id })" class="btn btn-sm btn-default m-r"><i class="fa fa-cog m-r-xs"></i>分配权限</a>

        </div>

    </div>


</header>
<section class="scrollable wrapper w-f">
    <section class="panel panel-default">
        <header class="panel-heading bg-light">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#tabinfo" data-toggle="tab">角色详情</a>
                </li>
                
                <li class="">
                    <a href="#roleoperation" data-toggle="tab">角色权限</a>
                </li>
            </ul>
        </header>
        <div class="panel-body">
            <div class="tab-content">
                <div class="tab-pane active" id="tabinfo">

                    <div class="col-sm-12 ">
                        <dl class="dl-horizontal borderline">
                            <dt>
                                @Html.DisplayNameFor(model => model.DistributorId)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.DistributorName)
                            </dd>
                        </dl>
                    </div>
                    <div class="col-sm-12 ">
                        <dl class="dl-horizontal borderline">
                            <dt>
                                @Html.DisplayNameFor(model => model.RoleName)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.RoleName)
                            </dd>
                        </dl>
                    </div>
                    <div class="col-sm-12 ">
                        <dl class="dl-horizontal borderline">
                            <dt>
                                @Html.DisplayNameFor(model => model.IsSystem)
                            </dt>

                            <dd>
                                @(Model.IsSystem ? "是" : "否")
                            </dd>
                        </dl>
                    </div>
                    <div class="col-sm-12 ">
                        <dl class="dl-horizontal borderline">
                            <dt>
                                @Html.DisplayNameFor(model => model.Sort)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Sort)
                            </dd>
                        </dl>
                    </div>


                </div>
                <div id="roleoperation" class="tab-pane">
                    <section class="scrollable wrapper w-f">
                        <section class="panel panel-default">
                            <div class="row">
                                <div class="col-md-12">

                                    @foreach (var pmodel in Model.OperationViewModels.Where(a => a.NavId.Length == 6))
                                    {
                                        <div class="panel panel-default  div-m-top">
                                            <header class="panel-heading bg-info ">
                                                <i class="fa fa-list m-r-sm"></i> @pmodel.NavName
                                            </header>
                                            @{ int i = 1;}
                                            @foreach (var navmodel in Model.OperationViewModels.Where(b => b.ParentId == pmodel.NavId))
                                            {
                                                <div class="row">
                                                    <div class="col-sm-12">

                                                        <dl class="dl-horizontal borderline">
                                                            <dt>
                                                                @navmodel.NavName
                                                            </dt>

                                                            <dd>
                                                                <div class="row">
                                                                    <div class="col-sm-12">

                                                                        @foreach (var oper in navmodel.Operations)
                                                                        {

                                                                            if (oper.Checked)
                                                                            {
                                                                                <span class="Validform_right m-r-xs ">@oper.OperationName</span>
                                                                            }
                                                                            else
                                                                            {
                                                                                <span class="Validform_wrong m-r-xs ">@oper.OperationName</span>
                                                                            }


                                                                        }
                                                                    </div>
                                                                </div>
                                                            </dd>
                                                        </dl>
                                                    </div>

                                                </div>
                                                                        i++;
                                            }
                                           
                                            
                                        </div>
                                    }
                                </div>
                            </div>
                        </section>
                    </section>
                </div>
            </div>
        </div>
    </section>
</section>

