@using Lucky.Web.Framework.HtmlExtensions
@model Lucky.Hr.ViewModels.Models.News.NewsArticlesViewModel

@{
    ViewBag.Title = "编辑";
}


<header class="header bg-white b-b b-light">
    <p>编辑分类</p>
</header>
<section class="scrollable  wrapper">
    @using (Html.BeginForm("Edit", "NewsArticles", FormMethod.Post, new { @class = "form-horizontal form-validate" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ArticleID)
        @Html.HiddenFor(model => model.TextID)
        <section class="panel panel-default">
            <header class="panel-heading bg-light">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#tabinfo" data-toggle="tab">基本信息</a>
                    </li>
                    <li class="">
                        <a href="#tabinfo2" data-toggle="tab">扩展信息</a>
                    </li>
                </ul>
            </header>
            <div class="panel-body">
                <div class="tab-content" style="overflow:inherit;">
                    <div class="tab-pane active" id="tabinfo">
                        <div class="line line-dashed line-lg pull-in"></div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.CategoryID, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-2">
                                <div class="input-group">
                                    @Html.DropDownListTreeFor(model => model.CategoryID, Model.CategoryItems, "-1", true, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.CategoryID)
                                </div>
                            </div>
                        </div>

                        <div class="line line-dashed line-lg pull-in"></div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-2">
                                <div class="input-group">
                                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Title)
                                </div>
                            </div>
                        </div>
                        <div class="line line-dashed line-lg pull-in"></div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ArticleText, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-8">
                                <div class="input-group">

                                    <input class="form-control text-box single-line" data-toggle="kindeditor" id="ArticleText" name="ArticleText" type="text" value="@Model.ArticleText" />
                                    @*<textarea  id="ArticleText" name="ArticleText" value="" >
                                        </textarea>*@
                                    @Html.ValidationMessageFor(model => model.ArticleText)
                                </div>
                            </div>
                        </div>

                        <div class="line line-dashed line-lg pull-in"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button type="submit" class="btn btn-primary" data-loading-text="保存中...">保存</button>
                                <button type="button" class="btn btn-default" data-toggle="back">取消</button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tabinfo2">
                        @Html.Partial("_CreateOrUpdate", Model)
                    </div>
                </div>
            </div>

        </section>
    }
</section>

