@model Lucky.ViewModels.Models.SiteManager.OperationViewModel

@{
    ViewBag.Title = "Details";
}

<header class="header bg-white b-b clearfix">

    <div class="row m-t-sm">
        <div class="col-sm-8 m-b-xs">
            <div class="btn-group">
                <button type="button" data-toggle="refresh" class="btn btn-sm btn-default" title="刷新">
                    <i class="fa fa-refresh"></i>
                </button>
                <button type="button" class="btn btn-sm btn-default" title="删除" data-msg-required="简介不能为空" data-toggle="batch" data-href="@Url.Action("Delete","Operation",new{ID=Model.OperationId})">
                    <i class="fa fa-trash-o m-r-xs"></i>删除
                </button>
            </div>
            <a href="@Url.Action("Create")" class="btn btn-sm btn-default m-r"><i class="fa fa-plus m-r-xs"></i>新增权限</a>
            <a href="@Url.Action("Edit",new{Id=Model.OperationId})" class="btn btn-sm btn-default m-r"><i class="fa fa-edit m-r-xs"></i>编辑权限</a>

        </div>

    </div>


</header>

<section class="scrollable wrapper">
    <section class="panel panel-default">
        <header class="panel-heading bg-light">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#tabinfo" data-toggle="tab">Details</a>
                </li>
            </ul>
        </header>
        <div class="panel-body">
            <div class="tab-content">
                <div class="tab-pane active" id="tabinfo">

                    <div class="col-sm-12 ">
                        <dl class="dl-horizontal borderline">
                            <dt>
                                @Html.DisplayNameFor(model => model.OperationId)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.OperationId)
                            </dd>
                        </dl>
                    </div>
                    <div class="col-sm-12 ">
                        <dl class="dl-horizontal borderline">
                            <dt>
                                @Html.DisplayNameFor(model => model.OperationName)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.OperationName)
                            </dd>
                        </dl>
                    </div>
                    <div class="col-sm-12 ">
                        <dl class="dl-horizontal borderline">
                            <dt>
                                @Html.DisplayNameFor(model => model.SystemName)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.SystemName)
                            </dd>
                        </dl>
                    </div>
                    <div class="col-sm-12 ">
                        <dl class="dl-horizontal borderline">
                            <dt>
                                @Html.DisplayNameFor(model => model.Sort)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Sort)
                            </dd>
                        </dl>
                    </div>
                    <div class="col-sm-12 ">
                        <dl class="dl-horizontal borderline">
                            <dt>
                                @Html.DisplayNameFor(model => model.OperationValue)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.OperationValue)
                            </dd>
                        </dl>
                    </div>
                </div>

            </div>
        </div>
    </section>
    </section>
